body{
    background-image:url(/medialinking/images/pic6.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size: cover;
    background-color: rgba(246, 215, 250, 0.864);

}
